body{

     background-color: black;
     color: white;
     
}
header{
     font-family: "chakra petch"; sans-serif;
     font-size: 40px;
}

section{
     background-color: rgb(74, 10,142);
     padding-bottom: 5%;
     padding-top: 5%;
     display: flex;
     justify-content: center;
}
.testo{
     margin-right: 80px;]



}

img {

height: 200px;

}

.categoria-videos{

     display: flex;
     overflow: auto;
     gap: 10px;

}

.categoria-videos img{

     height: 200px;
     opacity: 0.5;

}

.categoria-videos img:hover{

     opacity: 1.0;
     border: ipx solid green;

}

.lista{

     background-color: aqua;


}